{% extends 'base.html' %}
{% block content %}
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
    style="min-height: 100vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9);">
    <div class="container-fluid">
        <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
            <div class="col-12 col-md-4 col-lg-3   h-50 ">
                <div class="card shadow">
                    <div class="card-body mx-auto">
                        {% if messages %}
                        <div class="alert alert-danger my-3" role="alert">
                            {% for message in messages %}
                            <strong>{{message.tag}}</strong>
                            <ul><li>{{message.message}}</li></ul>
                            {% endfor %}
                        </div>
                        {%endif%}
                        <h4 class="card-title mt-3 text-center">로그인</h4>
                        <form method="POST" class="post-form" action="{% url 'common:login' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{next}}">
                            {% include "form_errors.html" %}
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" class="form-control" name="username" placeholder="사용자 이름" id="username" value="{{ form.username.value|default_if_none:'' }}">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호" value="{{ form.password1.value|default_if_none:'' }}">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">로그인</button>
                            </div>
                            <p class="text-muted font-weight-bold ">
                                <span>혹은</span>
                            </p>
                            <p class="text-center"><i class="fas fa-share-alt-square"> 소셜미디어로 로그인</i></p>
                            <p>
                                <a href="" class="btn btn-block btn-dark">
                                    <i class="fab fa-google mr-2"></i>Login via google</a>
                            </p>
                            <p class="text-center">아직 계정이 없으신가요?
                                <a href="{% url 'common:signup' %}">Sign Up</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}