{% extends 'base.html' %}

{% block content %}
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
    style="min-height: 100vh; background-size: cover; background-image: url(&quot;https://images.unsplash.com/photo-1517216015940-049a2d4e2da4?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=14035a7d76df29c4697de036fcd005ce&quot;);">
    <div class="container-fluid">
        <div class="row  justify-content-center align-items-center d-flex-row h-100">
            <div class="col-12 col-md-8 col-lg-8   h-50 ">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="profile-list" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" href="#userdetail" data-toggle="tab"><i class="fas fa-id-card"> 사용자 정보</i></a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pwchange" data-toggle="tab"><i class="fas fa-lock"> 비밀번호 변경</i></a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div id="userdetail" class="tab-pane fade show active">
                                        <h5><i class="fas fa-portrait"> 사용자명 (ID)</i></h5><input type="text" style="transform: scale(1);width: 100%;height: 30px;margin-bottom: 30px; margin-top: 10px;" value="{{user.username}}" disabled>
                                        <h5 style="margin-top: 0;"><i class="fas fa-envelope"> 이메일(E-Mail)</i></h5><input type="text" style="transform: scale(1);width: 100%;height: 30px;margin-bottom: 30px; margin-top: 10px;" value="{{user.email}}" disabled>
                                    </div>
                                    <div id="pwchange" class="tab-pane fade">
                                        {% if messages %}
                                        <div class="alert alert-danger my-3" role="alert">
                                            {% for message in messages %}
                                            <strong>{{message.tag}}</strong>
                                            <ul><li>{{message.message}}</li></ul>
                                            {% endfor %}
                                        </div>
                                        {%endif%}
                                        <form method="post" class="form-group" action="{% url 'common:changePW' %}">
                                            {% csrf_token %}
                                            {% include "form_errors.html" %}
                                            <h6 style="margin-top: 10;"><i class="fas fa-lock"> 기존 비밀번호</i></h6><input type="password" id="password" name="password" class="form-control" style="transform: scale(1);width: 100%;height: 30px;margin-bottom: 20px; margin-top: 5px;">
                                            <h6 style="margin-top: 10;"><i class="fas fa-lock"> 새 비밀번호</i></h6><input type="password" id="password1" name="password1" class="form-control" style="transform: scale(1);width: 100%;height: 30px;margin-bottom: 20px; margin-top: 5px;">
                                            <h6 style="margin-top: 10;"><i class="fas fa-lock"> 새 비밀번호 (확인)</i><input type="password" id="password2" name="password2" class="form-control" style="transform: scale(1);width: 100%;height: 30px;margin-bottom: 20px; margin-top: 5px;">
                                            <button class="btn btn-primary" type="summit"><i class="fa fa-save"></i>&nbsp;저장하기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}